@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Sukhumvit';
    src: url('/fonts/SukhumvitSet-Text.ttf')
}
@font-face {
    font-family: 'Sukhumvit-Medium';
    src: url('/fonts/SukhumvitSet-Medium.ttf')
}
@font-face {
    font-family: 'Sukhumvit-Bold';
    src: url('/fonts/SukhumvitSet-Bold.ttf')
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
}